*.pyc
__pycache__/*
.DS_Store
duee_dev.json
duee_train.json
duee_test1.json
duee_event_schema.json
duee_cls_dev.json
duee_cls_train.json
duee_cls_test.json
schema.json
*.tar
sentence_evt_ext/output/*
