*.pyc
__pycache__/*
.DS_Store
duee_dev.json
duee_train.json
duee_test1.json
duee_event_schema.json
duee_cls_dev.json
duee_cls_train.json
duee_cls_test.json
schema.json
*.tar
arg_men_test.json
duee.json
evt_men_test.json
men_cls_test.json
joint_test.json
duee_joint_dev.json
duee_joint_train.json
.idea/*

duee*train.json
duee*dev.json
duee*test1.json
duee_fin_role_list.json
duee*schema.json

art_joint_test.json
